<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
    <div class="container">
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">
            <div class="form-group">
                <label for=""></label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for=""></label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group">
                <label for=""></label>
                <input type="password" class="form-control">
            </div>
        </form>
    </div>
<%- include('../includes/footer.ejs') %>
