<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
<div class="container">
    <h1>Edit Images</h1>
    <img src="" alt="">
    <form action="/addPhoto" method="POST" enctype="multipart/form-data">
        <button type="submit">Edit</button>
    </form>
</div>
<%- include('../includes/footer.ejs') %>
