<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
<div class="container">
    <h1>User Images</h1>
    <% images.forEach(image => { %>
        <h3><%= image.name %></h3>
    <% }) %>
</div>
<%- include('../includes/footer.ejs') %>
