<nav>
    <ul class="nav">
        <div class="nav-left">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
          <% if(isAuthenticated) { %>
            <li class="nav-item">
              <a class="nav-link" href="/userImages">User Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addPhoto">Add Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Manage Images</a>
            </li>
          <% } %>
        </div>
        <div class="nav-right">
          <% if(!isAuthenticated){ %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signUp">Sign Up</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <form action="/logout" method="POST">
                <button class='logout' type="submit">Logout</button>
              </form>
            </li>
          <% } %>
          
        </div>
      </ul>
</nav>