nav {
    background: #444;
}

.nav  {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.nav-item {
    padding: .5rem;
}

.nav-item:hover {
    background: #6b6e6c;
}

.nav-link {
    color: #f4f4f4;
}

.nav-item:hover .nav-link,
.nav-item:hover form .logout{
    color: #dbbdff;
    background-color: #6b6e6c;
}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
}

.logout {
    border: none;
    color: #f4f4f4;
    background-color: #444444;
}

.logout:hover {
    background-color: #6b6e6c;
    color: #dbbdff
}

.card-image-top {
    max-width: 340px;
    max-height: 520px;
}


